        <div class="row">
            <div class="col-md-4">
            </div>

            <div class="col-md-4 col-xs-12 text-center">
                <h1>
                <%= @budget.cliente%>
                </h1>
                <h2>
                    <%= @budget.vehiculo%>
                </h2>
                <p>
                    <%= @budget.created_at.to_date%>
                </p>
            </div>
            
            <div class="col-md-4 ">
            </div>
        </div>
        
        


        <div class="text-center">
            
        </div>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th scope="col" class="col-9"> Trabajo </th>
                    <th scope="col" class="col-3"> Valor</th>   
                </tr>
            </thead>

            <tbody>
                <%@budget.works.each do |work|%>
                <tr>
                    <td>
                    <%= work.trabajo%>
                    </td>
                    <td>
                    <%= number_to_currency(work.precio, precision:0)%>
                    </td>
                    
                </tr>
                <%end%>
            </tbody>   
            <tfoot>
                <tr>
                    <th scope="row">
                        Total
                    </td>
                    <td>
                        <%=number_to_currency(@budget.works.sum(:precio), precision: 0)%>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Iva
                    </td>
                    <td>
                        <%=number_to_currency(@budget.works.sum(:precio)-(@budget.works.sum(:precio)/1.19), precision:0)%>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Total Neto
                    </td>
                    <td>
                        <%=number_to_currency(@budget.works.sum(:precio)*1.19, precision:0)%>
                    </td>
                </tr>
            </tfoot>             
        </table>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-4">
        </div>
        <div class="col-md-4 col-xs-4">
            <a href="http://presupuestos.oruga37.cl">
                <img src="http://oruga37.cl/wp-content/uploads/2020/07/oruga-isotipodf.jpg" class="img-thumbnail">
            </a>
            
            
        </div>
        <div class="col-md-4 col-xs-4">
        </div>
    
    </div>